<div class="home-page">
  <div class="banner">
  <h3 class="left"><%= @category.name%></h3>
  <div class="right">$<%= @category.total_spend%></div>
</div>
<% if !@transactions.empty? %>
 <title class="heading">This are list of your categories</title>

 <% @transactions.each do |transaction| %>
 <div class="list-card">
  <div class="left"><div class="heading"><%= transaction.name%></div></div>
  <div class="sub-topic"><%= transaction.formatted_date%></div>
  <div class="right"><div class="content"></div>$<%= transaction.amount%></div>
 </div>
 <% end %>
  <% else %>
 <title class="heading">You have no categories, Pleas add one</title>
<% end %>

<%= button_to 'Add new transaction', new_user_spend_path(user_id: current_user), method: :get, class: "full success" %>

<%= render :partial => '/users/home' %>
</div>
