<div class="banner">
  <div class="title"><%= @category.name%></div>
  <div class="right"><%= @category.total_spend%></div>
</div>
<% if !@transactions.empty? %>
 <title class="heading">This are list of your categories</title>

 <% @transactions.each do |transaction| %>
 <div class="list-card">
  <div class="mid"><div class="heading"><%= transaction.name%></div><div class="sub-topic"><%= transaction.formatted_date%></div></div>
  <div class="right"><div class="content"></div>$<%= transaction.amount%></div>
 </div>
 <% end %>
  <% else %>
 <title class="heading">You have no categories, Pleas add one</title>
<% end %>

<%= button_to 'Add new transaction', new_user_spend_path(user_id: current_user), method: :get %>

<%= render :partial => '/users/home' %>
